.content.content_seance {
    background-color: #f1ebe6f2;
    padding-bottom: 3rem;
}

.content_seance .seance__info {
    padding: 1.5rem;
}

.content_seance .seance__title {
    font-weight: 700;
    font-size: 1.6rem;
}

.content_seance .seance__subtitle {
    font-weight: 300;
    margin-top: .7rem;
    margin-bottom: .8rem;
}

.content_seance .box.box_hall-config {
    background-color: #171d24;
    padding: 1.5rem 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_seance .box_hall-config .hall-config__wrapper {
    min-width: 28.4rem;
}

@media screen and (min-width: 991px) {
    .content_seance .seance__hint-box {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .content_seance .seance__hint-box {
        position: absolute;
        right: 1.6rem;
        width: 10rem;
        padding: 0 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 300;
        text-align: center;
    }

    .content_seance .seance__hint-box::before {
        content: '';
        position: absolute;
        left: -1.2rem;
        width: 2.4rem;
        height: 3.2rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('/src/img/tap-hint.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.4rem;
    }

}


