#root {
    width: 100%;
    max-width: var(--root-width);
    margin: 0 auto;
}

#root:has(.container_content) {
    --root-width: 99rem;
}

#root:has(.container_admin) {
    --root-width: 96.2rem;
}


.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row.row_space-between {
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-size: inherit;
    line-height: inherit;
}

.text {
    font-size: inherit;
    line-height: inherit;
}

.text.text_capitalize {
    text-transform: capitalize;
}

.color_red {
    color: #de2121;
}

.button.button_action {
    box-shadow: 0 0 .3rem 0 #0000001f, 0 .3rem .3rem 0 #0000003d;
    padding-top: 1.12rem;
    padding-bottom: 1.19rem;
    border-radius: .3rem;
    font-weight: 500;
}

.button.button_action {
    text-transform: uppercase;
}

.button.button_action:not(.button_cancel) {
    background-color: #16a6af;
    color: #ffffff;
}

.button.button_action.button_cancel {
    background-color: #ffffff;
    color: #63536c;
}

