.container_admin .legend__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 2.3rem;
}

.legend-item {
    display: flex;
    align-items: center;
    color: var(--color-sec-txt);
}

.container_content .legend__list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
