#root {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: stretch;
}

.row.row_space-between {
    justify-content: space-between;
}

.text.text_capitalize {
    text-transform: capitalize;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--content-gap);
}

.text {
    font-size: inherit;
    line-height: inherit;
}