@import url("./css/fonts.css");

:root {
  --bg-color: #ffffffe5;

  font-family: 'Roboto', "Times New Roman", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.15;
}